.App {
  text-align: center;
  color: whitesmoke;
  background-color: black;
  font-family: "Press Start 2P";
  /* background-image: url("https://t3.ftcdn.net/jpg/01/80/01/94/360_F_180019412_rhvh6dn0ppLsqsMkbdWd8bWWiGQye6RL.jpg");
  background-size: 1500px 1000px; */
  background: url("https://www.stockvault.net/data/2019/04/14/263855/preview16.jpg");
  background-size: 1500px 1000px; 
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PhotosBooBoo {
  /* display: grid; */
  flex-direction: row;
  width: 400px;
  height: 300px;
  outline: whitesmoke 5px;
}